@-webkit-keyframes pulsate
{
  from
  {
    box-shadow: 0 0 4px 3px #fff;
  }
  to
  {
    box-shadow: 0 0 4px 3px #777;
  }
}
 
@-moz-keyframes pulsate
{
  from
  {
    box-shadow: 0 0 4px 3px #fff;
  }
  to
  {
    box-shadow: 0 0 4px 3px #777;
  }
}

.track-selected
{
  -webkit-animation-name: pulsate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
 
  -moz-animation-name: pulsate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
}

@-webkit-keyframes rotate
{
  from
  {
    -webkit-transform: rotate(360deg);
  }
  to
  {
    -webkit-transform: rotate(0deg);
  }
}
 
@-moz-keyframes rotate
{
  from
  {
    -moz-transform: rotate(360deg);
  }
  to
  {
    -moz-transform: rotate(0deg);
  }
}

.rotate-360 
{
  -webkit-animation-name: rotate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
 
  -moz-animation-name: rotate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
}

/* @-webkit-keyframes rotate { */
/*   from { */
/*     -webkit-transform: rotate(0deg); */
/*   } */
/*   to {  */
/*     -webkit-transform: rotate(360deg); */
/*   } */
/* } */
/* #orientation img */
/* { */
/*     -webkit-animation-name:             rotate;  */
/*     -webkit-animation-duration:         8.5s;  */
/*     -webkit-animation-iteration-count:  infinite; */
/*     -webkit-animation-timing-function:  linear; */
/* } */