* {
  user-select: none;
}

body {
	font-family:'Conv_TR-909',Sans-Serif;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

/* main div with wood panel background */
#overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

#login-box {
  z-index: 3;
  width: 230px;
  height: 160px;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
}

.inlay {
  border: 3px solid #ddd;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
  padding: 30px 10px 0px 10px;
  text-align: center;
}

input.login-input {
  margin-top: 30px;
  text-align: center;
  border: 1px solid #ddd;
}

input.login-submit {
  margin-top: 30px;
  border: 1px solid #aaa;
  box-shadow: 0 0 2px 2px #ddd
}

input.login-submit:active {
  box-shadow: 0 0 8px 8px #ddd;
  background-color: #ddd;
}

/* main div with wood panel background */
#main {
  width: 100%;
  height: 100%;
}

.clearer {
  clear: both;
}

.hidden {
  display: none;
}

/* main thingie in the middle, 
 * the sequencer corpus
 */
.sequencer {
  border: 10px solid #111;
  background-color: #000;
  width: 800px;
  height: 420px;
  position: relative;
  top: 5%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 50px 10px #000;
  border-radius: 10px;
}

.step-number {
  width: 24px;
  height: 18px;
  margin: 0 5px 0 5px;
  text-align: center;
  float: left;
}

/* single step styles */
.box {
  cursor: pointer;
  float: left;
  margin: 5px;
  width: 22px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid black;
}

.box:hover {
  box-shadow: 0px 0px 10px #bbb;
}

.box.red {
  background-color: #ff6f55;
}

.box.orange {
  background-color: #ffc141;
}

.box.yellow {
  background-color: #fbfc81;
}

.box.white {
  background-color: #fdfdff;
}

/* step selected indicator */
.step-led {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
}

.step-selected {
  box-shadow: 0px 0px 1px 2px #bb0000;
  background-color: #ff0000;
  transition: all 0.05s ease-in-out;
}

/* elipses are the step position indicator */
.elipse-box {
  float: left;
  width: 24px;
  margin: 5px 5px 0px 5px;
}

.elipse {
  width: 10px;
  height: 10px;
  background-color: #333333;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.current-step {
  box-shadow: 0px 0px 2px 3px #ffa500;
  background-color: #ff8000 !important;
  transition: all 0.14s ease-in-out;
}

/* table for the current track and step position led's */
table td {
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: -1px -1px 0px #aaa, -1px 1px 0px #aaa, 1px -1px 0px #aaa, 1px 1px 0px #aaa;
}

table.step-sequencer {
  position: absolute;
  bottom: 14px;
  right: 79px;
}

#track-dial {
  border-left: 3px solid white;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 3px;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 20px;
}

#track-dial select {
  position: absolute;
  left: 14px;
  top: 25px;
}

.left-function-box {
  text-shadow: -1px -1px 0px #aaa, -1px 1px 0px #aaa, 1px -1px 0px #aaa, 1px 1px 0px #aaa;
  text-align: center;
  background-color: #666;
  height: 60px;
  width: 150px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border: 1px solid #333;
  border-radius: 10px 10px 0px 10px;
  box-shadow: 0px 0px 1px 2px #666;
  font-size: 2em;
  font-weight: bold;
  padding-top: 60px;
}

.bottom-bar {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background-color: #666;
  height: 15px;
  width: 550px;
  position: absolute;
  bottom: 20px;
  left: 170px;
  box-shadow: 0px 0px 1px 2px #666;
}

.right-function-box {
  border: 1px solid #333;
  background-color: #666;
  height: 80px;
  width: 60px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 10px 10px 10px 0px;
  box-shadow: 0px 0px 1px 2px #666;
}

.left-title {
  padding: 2px;
  background-color: rgba(10,10,10,10);
  box-shadow: 0 0 10px 5px rgba(10,10,10,10);
  font-weight: bold;
  font-size: 3.6em;
  text-shadow: -1px -1px 0px #aaa, -1px 1px 0px #aaa, 1px -1px 0px #aaa, 1px 1px 0px #aaa;
  position: absolute;
  left: 25px;
  top: 20px;
  color: #666;
}

.wide {
  font-size: 1.4em;
}

img#instruments {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 660px;
}

img#tempo-dial {
  position: absolute;
  left: 35px;
  top: 135px;
  width: 120px;
}

div.machine {
  position: absolute;
  width: 595px;
  height: 270px;
  left: 185px;
  top: 20px;
}

div.machine img {
  position: absolute;
  cursor: pointer;
}

img#tophats {
  top: 90px;
}

img#bottomhats {
  top: 138px;
}

img#bd {
  top: 200px;
}

img#topsnare {
  left: 130px;
}

img#bottomsnare {
  left: 130px;
  top: 83px;
}

img#claves {
  left: 130px;
  top: 170px;
}

img#cym {
  left: 290px;
}

img#cowbell {
  left: 290px;
  top: 135px;
}

img#clap {
  right: 0;
}
 
img#small-cong {
  right: 105px;
  top: 85px;
}

img#medium-cong {
  right: 60px;
  top: 85px;
}

img#large-cong {
  right: 0;
  top: 85px;
}

#users {
  position: absolute;  
  width: 100%;
  height: 100%;
}

.user {
  top: 10px;
  left: 10px;
  width: 80px;
  height: 45px;
  border-radius: 50px;
  margin: 20px;
  position: relative;
  text-align: center;
  padding-top: 35px;
  transition: all 0.3s ease;
}

.local {
  background-color: white;
}
