* {
  background-color: #000;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  height: 563px;
  width: 980px;
  background-color: black;
}

.sequencer {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: relative;
}

table.step-sequencer {
  -webkit-transform: scale(1.35);
  margin: auto;
}

div.machine {
  width: 595px;
  height: 270px;
  margin: 50px auto 10px auto;
  -webkit-transform: scale(1.35);
}

  /* -moz-transform:scale(1.5); */
  /* -webkit-transform:scale(1.5); */
  /* transform:scale(1.5); */
