[Unit]
Description=MR808 Sequencer Web Server

[Service]
User=root
Group=root
Type=forking
WorkingDirectory=/srv/http/mr808
Restart=always
ExecStart=/srv/http/mr808/mr808.sh start
ExecStop=/srv/http/mr808/mr808.sh stop

[Install]
WantedBy=multi-user.target
